*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Full screen layout */
.dashboard{
  height: 100vh;
  width: 100vw;
  display: flex;
  background: linear-gradient(120deg, #00c6ff, #0072ff);
}

/* LEFT PANEL */
.sidebar{
  width: 30%;
  padding: 40px;
  color: white;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar h1{
  font-size: 36px;
  margin-bottom: 5px;
}

.subtitle{
  opacity: 0.8;
  margin-bottom: 30px;
}

/* RIGHT PANEL */
.main-content{
  width: 70%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}

/* INPUT */
.input-box{
  display: flex;
  gap: 10px;
}

.input-box input{
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: none;
}

.input-box button{
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  background: #00ffcc;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.input-box button:hover{
  transform: scale(1.05);
}

/* PROGRESS */
.progress-card{
  margin-top: 25px;
}

.progress-bar{
  width: 100%;
  height: 25px;
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill{
  height: 100%;
  background: linear-gradient(90deg,#00ffcc,#00c6ff);
  transition: width 0.5s;
}

/* CARDS */
.chart-card,.history-card{
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 20px;
  color: white;
}

/* TABLE */
table{
  width: 100%;
  border-collapse: collapse;
}

th,td{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

/* Responsive */
@media(max-width:900px){
  .dashboard{
    flex-direction: column;
  }
  .sidebar,.main-content{
    width: 100%;
  }
}
