.navbar {
  background-color: lightpink;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  background-color: white;
  padding: 10px 20px; 
  border-radius: 10px;
}

.navbar .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar li:hover {
  background-color: lightpink;
  cursor: pointer;
}
